<div class="grid">
  <app-square (colorChange) = "onChange($event)"></app-square>
  <app-square (colorChange) = "onChange($event)"></app-square>
  <app-square (colorChange) = "onChange($event)"></app-square>
  <app-square (colorChange) = "onChange($event)"></app-square>
  <app-square (colorChange) = "onChange($event)"></app-square>
  <app-square (colorChange) = "onChange($event)"></app-square>
  <app-square (colorChange) = "onChange($event)"></app-square>
  <app-square (colorChange) = "onChange($event)"></app-square>
  <app-square (colorChange) = "onChange($event)"></app-square>
</div>