<div class="grid">
  <app-square (colorChange) = "onChange($event)" [ArrayOfSquares] = "squares" *ngIf="squares?.length > 0"></app-square>
  <app-square (colorChange) = "onChange($event)" [ArrayOfSquares] = "squares" *ngIf="squares?.length > 0"></app-square>
  <app-square (colorChange) = "onChange($event)" [ArrayOfSquares] = "squares" *ngIf="squares?.length > 0"></app-square>
  <app-square (colorChange) = "onChange($event)" [ArrayOfSquares] = "squares" *ngIf="squares?.length > 0"></app-square>
  <app-square (colorChange) = "onChange($event)" [ArrayOfSquares] = "squares" *ngIf="squares?.length > 0"></app-square>
  <app-square (colorChange) = "onChange($event)" [ArrayOfSquares] = "squares" *ngIf="squares?.length > 0"></app-square>
  <app-square (colorChange) = "onChange($event)" [ArrayOfSquares] = "squares" *ngIf="squares?.length > 0"></app-square>
  <app-square (colorChange) = "onChange($event)" [ArrayOfSquares] = "squares" *ngIf="squares?.length > 0"></app-square>
  <app-square (colorChange) = "onChange($event)" [ArrayOfSquares] = "squares" *ngIf="squares?.length > 0"></app-square>
</div>

